In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the csv
df = pd.read_csv("1976-2016-president.csv")
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
0,1976,Alabama,AL,1,63,41,US President,"Carter, Jimmy",democrat,False,659170,1182850,20171015,NaN
1,1976,Alabama,AL,1,63,41,US President,"Ford, Gerald",republican,False,504070,1182850,20171015,NaN
2,1976,Alabama,AL,1,63,41,US President,"Maddox, Lester",american independent party,False,9198,1182850,20171015,NaN
3,1976,Alabama,AL,1,63,41,US President,"Bubar, Benjamin """"Ben""""",prohibition,False,6669,1182850,20171015,NaN
4,1976,Alabama,AL,1,63,41,US President,"Hall, Gus",communist party use,False,1954,1182850,20171015,NaN

In [3]:
# Filter out other parties
df = df[(df.party == 'democrat') | (df.party == 'republican')]
df = df.reset_index(drop=True)

In [4]:
# Verify that the data was filtered by party
df.tail()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
1118,2016,West Virginia,WV,54,55,56,US President,"Clinton, Hillary",democrat,False,188794,713051,20171015,NaN
1119,2016,Wisconsin,WI,55,35,25,US President,"Trump, Donald J.",republican,False,1405284,2976150,20171015,NaN
1120,2016,Wisconsin,WI,55,35,25,US President,"Clinton, Hillary",democrat,False,1382536,2976150,20171015,NaN
1121,2016,Wyoming,WY,56,83,68,US President,"Trump, Donald J.",republican,False,174419,258788,20171015,NaN
1122,2016,Wyoming,WY,56,83,68,US President,"Clinton, Hillary",democrat,False,55973,258788,20171015,NaN

In [5]:
# Change party to "Democratic" or "Republican"
df.loc[(df.party == 'democrat'),'party']='Democratic'
df.loc[(df.party == 'republican'),'party']='Republican'

In [6]:
# Look at unique candidates
cand_dict = {'candidate': df['candidate'].unique()}
cand_df = pd.DataFrame(cand_dict)

In [7]:
# Import data of election results
df_hist = pd.read_csv('Presidential_history.csv')
df_hist.head()

,Unnamed: 0,Name,Incumbent,Approval rating,Unemployment rate,Winner,Party,Years in Politics,Age at election time,Home state,Num Electoral College,Twitter sentiment
0,1916,Woodrow Wilson,True,NaN,NaN,True,Democratic,NaN,NaN,New Jersey,277,NaN
1,1916,Charles Evans Hughes,False,NaN,NaN,False,Republican,NaN,NaN,New York,254,NaN
2,1920,Warren Harding,NaN,NaN,NaN,True,Republican,NaN,NaN,Ohio,404,NaN
3,1920,James Cox,NaN,NaN,NaN,False,Democratic,NaN,NaN,Ohio,127,NaN
4,1924,Calvin Coolidge,True,NaN,NaN,True,Republican,NaN,NaN,Massachusetts,382,NaN

In [8]:
# Drop unnecessary columns
df_hist.drop(["Incumbent", "Approval rating", "Unemployment rate", "Years in Politics", "Age at election time", "Home state", "Twitter sentiment"], axis = 1, inplace = True)
# Set "Unnamed: 0" to be "Year"
df_hist = df_hist.rename(columns={"Unnamed: 0":"Year"})
df_hist.tail()

    Year             Name  Winner       Party  Num Electoral College
47  2008      John McCain   False  Republican                    173
48  2012     Barack Obama    True  Democratic                    332
49  2012      Mitt Romney   False  Republican                    206
50  2016     Donald Trump    True  Republican                    304
51  2016  Hillary Clinton   False  Democratic                    227

In [9]:
# Remove election result data that we do not have state data for
df_hist = df_hist[df_hist['Year'] >= 1976]
df_hist = df_hist.reset_index(drop=True)
df_hist.head()

   Year           Name  Winner       Party  Num Electoral College
0  1976   Jimmy Carter    True  Democratic                    297
1  1976    Gerald Ford   False  Republican                    240
2  1980  Ronald Reagan    True  Republican                    489
3  1980   Jimmy Carter   False  Democratic                     49
4  1984  Ronald Reagan    True  Republican                    525

In [10]:
# Create join column for each record in df
new_col = []
for index, row in df.iterrows():
    year = row["year"]
    party = row["party"]
    new_col.append(f"{year}-{party}")
df['join_col'] = new_col
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes,join_col
0,1976,Alabama,AL,1,63,41,US President,"Carter, Jimmy",Democratic,False,659170,1182850,20171015,NaN,1976-Democratic
1,1976,Alabama,AL,1,63,41,US President,"Ford, Gerald",Republican,False,504070,1182850,20171015,NaN,1976-Republican
2,1976,Alaska,AK,2,94,81,US President,"Ford, Gerald",Republican,False,71555,123574,20171015,NaN,1976-Republican
3,1976,Alaska,AK,2,94,81,US President,"Carter, Jimmy",Democratic,False,44058,123574,20171015,NaN,1976-Democratic
4,1976,Arizona,AZ,4,86,61,US President,"Ford, Gerald",Republican,False,418642,742719,20171015,NaN,1976-Republican

In [11]:
# Create join column for each record in df_hist
new_col2 = []
for index, row in df_hist.iterrows():
    year = row["Year"]
    party = row["Party"]
    new_col2.append(f"{year}-{party}")
df_hist['join_col'] = new_col2
df_hist.head()

,Year,Name,Winner,Party,Num Electoral College,join_col
0,1976,Jimmy Carter,True,Democratic,297,1976-Democratic
1,1976,Gerald Ford,False,Republican,240,1976-Republican
2,1980,Ronald Reagan,True,Republican,489,1980-Republican
3,1980,Jimmy Carter,False,Democratic,49,1980-Democratic
4,1984,Ronald Reagan,True,Republican,525,1984-Republican

In [12]:
# Inner left join df with df_hist (only care about winner -- have other info already)
result = pd.merge(df, df_hist[['Winner','join_col']], on='join_col', how='left')
result.tail()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes,join_col,Winner
1118,2016,West Virginia,WV,54,55,56,US President,"Clinton, Hillary",Democratic,False,188794,713051,20171015,NaN,2016-Democratic,False
1119,2016,Wisconsin,WI,55,35,25,US President,"Trump, Donald J.",Republican,False,1405284,2976150,20171015,NaN,2016-Republican,True
1120,2016,Wisconsin,WI,55,35,25,US President,"Clinton, Hillary",Democratic,False,1382536,2976150,20171015,NaN,2016-Democratic,False
1121,2016,Wyoming,WY,56,83,68,US President,"Trump, Donald J.",Republican,False,174419,258788,20171015,NaN,2016-Republican,True
1122,2016,Wyoming,WY,56,83,68,US President,"Clinton, Hillary",Democratic,False,55973,258788,20171015,NaN,2016-Democratic,False

In [13]:
# Create column with popular vote percentage
vote_perc = []
for index, row in result.iterrows():
    vote = row['candidatevotes']
    total_vote = row['totalvotes']
    percent = (vote/total_vote)*100
    vote_perc.append(round(percent, 2))
result["vote_percent"] = vote_perc

In [14]:
# Check on that dataframe
result.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes,join_col,Winner,vote_percent
0,1976,Alabama,AL,1,63,41,US President,"Carter, Jimmy",Democratic,False,659170,1182850,20171015,NaN,1976-Democratic,True,55.73
1,1976,Alabama,AL,1,63,41,US President,"Ford, Gerald",Republican,False,504070,1182850,20171015,NaN,1976-Republican,False,42.61
2,1976,Alaska,AK,2,94,81,US President,"Ford, Gerald",Republican,False,71555,123574,20171015,NaN,1976-Republican,False,57.90
3,1976,Alaska,AK,2,94,81,US President,"Carter, Jimmy",Democratic,False,44058,123574,20171015,NaN,1976-Democratic,True,35.65
4,1976,Arizona,AZ,4,86,61,US President,"Ford, Gerald",Republican,False,418642,742719,20171015,NaN,1976-Republican,False,56.37

In [15]:
# Drop some columns
result.drop(["state_fips", "state_cen", "state_ic", "office", "writein", "notes", "version"], axis = 1, inplace = True)

In [16]:
# Preview clean data
result.tail()

,year,state,state_po,candidate,party,candidatevotes,totalvotes,join_col,Winner,vote_percent
1118,2016,West Virginia,WV,"Clinton, Hillary",Democratic,188794,713051,2016-Democratic,False,26.48
1119,2016,Wisconsin,WI,"Trump, Donald J.",Republican,1405284,2976150,2016-Republican,True,47.22
1120,2016,Wisconsin,WI,"Clinton, Hillary",Democratic,1382536,2976150,2016-Democratic,False,46.45
1121,2016,Wyoming,WY,"Trump, Donald J.",Republican,174419,258788,2016-Republican,True,67.40
1122,2016,Wyoming,WY,"Clinton, Hillary",Democratic,55973,258788,2016-Democratic,False,21.63

In [17]:
# Create csv of clean data
result.to_csv("clean_election_data.csv")